body {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  width: 80%;
  height: 400px;
  margin: 4em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.342);
}
.content {
  width: 100%;
}

.teacher-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
}

.sign {
  padding-top: 40px;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.un {
  width: 79%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(57, 84, 236, 0.212);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: left;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 79%;
  color: rgb(190, 190, 190);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(57, 84, 236, 0.212);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: left;
  margin-bottom: 27px;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(7, 130, 231, 0.548) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: rgb(255, 255, 255) !important;
  background: rgb(72, 72, 224);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.submit:hover {
  background-color: blue;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.425);
  color: #7779f7;
  padding-top: 25px;
  text-align: center;
  padding-right: 40px;
  text-decoration: underline;
}

.forgot a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #4771e7;
}

.forgot a:hover {
  color: #1b3ca7;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

.fa-pen {
  font-size: 25px !important;
}

.breadcrumb {
  background-color: white;
}
