.page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
  }
  
  .navbar {
    background-color: rgb(72, 72, 224);
    text-align: center;
  }
  
  .navbar-brand h2 {
    font-size: 29px;
    cursor: pointer;
  }
  .navbar-brand i {
    border: 3px solid;
    padding: 5px 5px;
    border-radius: 10px;
  }
  
  .nav-link {
    margin: 0px 10px;
    color: white !important;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
  }
  
  .nav-item a:hover {
    text-decoration: underline !important;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .breadcrumb {
    margin: 0;
    background-color: #e5e3e8;
    text-align: center;
    font-size: 15px;
    border-radius: 0px;
  }
  