body {
    margin: 0px;
}

.main {
    background-color: #FFFFFF;
    width: 50%;
    height: max-content;
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main h1 {
    padding: 30px;
    background-color: #79aff5;
    border-radius: 10px 10px 0px 0px;
}

.main p {
    padding: 30px;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
}

.full {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}