.main {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  width: 90%;
  height: max-content;
  margin: auto;
  margin-bottom: 50px ;
  margin-top: 50px;
}
.content {
  margin-right: 300px;
  width: 100%;
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px !important;
}

.content div {
  font-weight: 650;
  font-size: 50px;
}

.content b {
  color: rgb(4, 0, 255);
}

.cards-list {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.feat1 {
  width: 30%;
  height: max-content;
  background-color: rgb(255, 0, 0);
  padding: 10px 30px;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  border-radius: 40px 5px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.397);
}

.big-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-image img{
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.397);
  border-radius: 20px;
  margin: 20px 0;
}
