body {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    width: 80%;
    height: 400px;
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.342);
}

.content {
    width: 100%;
}

.teacher-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}

.sign {
    padding-top: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 45px;
}

.un {
    width: 79%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(78, 63, 80, 0.212);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 79%;
    color: rgb(190, 190, 190);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(78, 63, 80, 0.212);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: left;
    margin-bottom: 50px;
}

.un:focus,
.pass:focus {
    border: 2px solid #9A9483 !important;
}

.submit {
    cursor: pointer;
    border-radius: 5.5em;
    color: rgb(255, 255, 255) !important;
    background: #172774;
    border: 0;
    padding: 10px 40px;
    margin-left: 35%;
    font-size: 16px;
    box-shadow: 0 0 5px 1px rgba(102, 102, 102, 0.397);
}

.submit:hover {
    background-color: rgb(75, 75, 75);
    text-decoration: none;
}